*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url('./imagem/babobi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(0px);
    border: 2px solid #fff;
    overflow: hidden;
    transition: backdrop-filer 1s;
}

.container .text h1{
    margin-bottom: 10px;
}

.text{
    color: #ffffff;
    position: relative;
    top: 200px;
    transition: top 1s;
}

.container:hover .text{
    top: 0px;
}

.container:hover{
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 5px #fff;
}